.teams_div {
    width: 100%;
    margin-bottom: 0;
}

.teams_p {
    padding: 5px 10px;
    margin: 0;

}

.backgroundColo {
    background-color: gray;
}

.teams_div_2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
    width: 80%;
    padding: 0;
}

.teams_div_3 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 0;
}

.teams_card {
    background-color: gray !important;
    width: 100%;
    padding: 5px 10px;
    border-radius: 0 !important;

}

.teams_img {
    border-radius: 10px;
}

.teams_label {
    padding: 5px 10px;
}

.teams_label:focus-within {
    background-color: yellow;

}


.test {
    padding-top: 0;
    width: 80%;
    margin: 0 auto;
    height: 450px;
    background-color: yellow;
}